/*==== reset start ====*/
*:focus {
    outline: none;
}

body{
    margin: 0;
    padding: 0;
    font: 400 14px/1 'Roboto', sans-serif;
    background-color: #fff;
    user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
p {
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover, a:active{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
}
input,
textarea,
button {
    outline: none;
    border: none;
}
button {
    cursor: pointer;
    background-color: transparent;
}
input[type="submit"] {
    cursor: pointer;
}
textarea {
    resize: vertical;
}
blockquote {
    margin: 0;
}

/*==== reset end ====*/

.white-text {
    color: white;
}

.form-control.big {
    width: 65%;
    background-color: #F1F3F2;
    padding: 20px 30px;
    border-radius: 10px;
    border: 2px solid white;
    font-size: 18px;
    margin-left: -20px;
}

.form-control {
    width: 75%;
    background-color: #F1F3F2;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid white;
}

.form-control:focus {
    border: 1px solid #1976D2;
}

.form-control.big:focus {
    border: 2px solid #1976D2;
}

.d-none {
    display: none;
}

.container {
    max-width: 1040px;
    margin: auto;
    padding: 0 15px;
}
/*==== header styles start ====*/

.header {
    width: 100%;
    background-color: #1976D2;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    margin-left: 40px;
    font-size: 20px;
}

.logout {
    margin-right: 150px;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
}

.logout:hover {
    color: black;
    border-color: black;
}
/*==== header styles end ====*/


/*==== login styles start ====*/

.login {
    display: flex;
    height: 100vh;
    margin-top: -75px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 400px;
    text-align: center;
    background-color: inherit;
    padding: 40px 20px;
    border-radius: 30px;
    border: 3px solid #1976D2;
}

.login-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #1976D2;
}

.form-group {
    position: relative;
}

.form-group i {
    position: absolute;
    top: 12px;
    left: 30px;
    font-size: 12px;
}

.login-form .form-group + .form-group {
    margin-top: 25px;
}

.form-submit,
.todo-form-submit {
    margin-top: 25px;
    width: 50%;
    transition: background-color .2s linear;
}

.form-submit:hover {
    background-color: #1976D2;
    color: white;
}
/*==== login styles end ====*/

/* === todo list styles start === */
.todo {
    text-align: center;
}

.no-todos {
    margin-top: 20px;
}

.todo-info {
    padding: 20px;
    background-color: #1976D2;
    max-height: 100px;
}

.todo-info-text {
    color: white;
    font-size: 18px;
}

.todo-list {
    max-width: 1040px;
    margin: auto;
    padding: 0 15px 30px;
}

.todo-list-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
}

.add-todo-form {
   width: 600px;
   display: block;
}

.todo-form-submit {
    width: 20%;
    background-color: #1976D2;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 22px 0;
}

.greating {
    font-size: 40px;
    color: #1976D2;
}

i {
    font-size: 30px;
    opacity: 0;
}

list-item:hover i {
     opacity: 100%;
}

.filter-btn {
    margin-top: 20px;
    font-size: 20px;
    color: #1976D2;
    position: relative;
}

.filter-btn.active:after {
    width: 100%
}

.filter-btn:after {
    content: "";
    width: 0;
    display: block;
    height: 2px;
    background-color: #1976D2;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width .2s linear;
}

.filter-btn:hover:after {
    width: 100%;
}
/* === todo list styles end === */

/* === todo item styles start === */
.todo-item {
    border: 1px solid #1976D2;
    padding: 30px;
    border-radius: 30px;
    margin-top: 20px;
    width: 500px;
}

/* === todo item styles end === */

/* === modal styles start === */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .modal-header .title {
    font-size: 16px;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }
/* === modal styles end === */